/Pods
authflow-ios.xcodeproj/xcshareddata/xcschemes/authflow-ios.xcscheme
authflow-ios.xcodeproj/xcuserdata/cpaine.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
authflow-ios.xcodeproj/xcuserdata/cpaine.xcuserdatad/xcschemes/xcschememanagement.plist
authflow-ios.xcworkspace/contents.xcworkspacedata
authflow-ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
authflow-ios/GoogleService-Info.plist